{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h1 class="text-center">Detail of the gag</h1>

            <div class="col-md-8 col-md-offset-2">
                <!-- Gag display -->
                <div class="col-md-12 text-center bg-white" style="margin-top:10px; padding:0px;">

                    <header class="col-md-12 text-center" style="margin:0px;padding:0px;">

                        <h2>{{gag.title}}</h2>
                    </header>
                        <img src="{{ asset('uploads/gags/' ~ gag.filename) }}" alt="Gag" class="bg-white" style="max-width:750px;"/>
                    <br/>
                <!-- Gag informations display-->
                    <footer class="col-md-12 text-left" style="margin:0px; padding:0px;"  >

                            <span class="col-md-4 text-center" style="height:44px;line-height:44px" >Posté le {{gag.lastModified|date('d/m/y')}} par {{gag.author.username}}
                            </span>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class="col-md-4 col-md-offset-4 text-right">
                                0
                                <a>
                                    <span class="btn btn-danger glyphicon glyphicon-minus" style="margin:5px;"></span>
                                </a>                        
                                10
                                <a >
                                    <span class="btn btn-success glyphicon glyphicon-plus" style="margin:5px;"></span> 
                                </a>
                            </span>
                            {% endif %}
                    </footer>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <!-- Comment form display -->
                <div class="col-md-12 hardGrey text-left" style="margin-top:10px;padding:0px;">
                    {{ form_start(form) }}
                    {{ form_row(form.message) }}
                    <button  class="btn btn-success col-md-12" type="submit">Comment</button>
                    {{ form_end(form) }}

                </div >
                <!-- Comments display -->
                <div class="col-md-12 hardGrey text-left" style="margin-top:20px;padding:0px;">
                    {% for comment in gag.comments %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Posté le {{comment.publishedAt|date('d/m/y')}} par {{comment.author.username}}
                        </div>
                        <div class="panel-body">
                            {{comment.message}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
