<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}4Troll - Home{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="border-radius:0px;">
            <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{path("app")}}" style="color:#5cb85c">4Troll</a>
             </div>
                <ul class="nav navbar-nav navbar-right">

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{path("login")}}">
                            <span class="glyphicon glyphicon-log-in" style="margin-right:2px; margin-left:2px;"></span>
                        Login</a>
                    </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{path("editProfile")}}"><span class="glyphicon glyphicon-user" style="margin-right:2px; margin-left:2px;"></span>{{ app.user.username }}</a>
                    </li>
                    <li>
                        <a href="{{path("logout")}}"><span class="glyphicon glyphicon-off" style="margin-right:2px; margin-left:2px;"></span>Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
