{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div>
                <h1 class="text-center primaryColor">Welcome on the 4Troll website!</h1>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <p class="text-center primaryColor"  >You can by now read the following posts or <a href= {{path('login')}} class="secondaryColor">login</a> and post your own!  </p>
                {% endif %}
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-md-4 col-md-offset-4">
            	<a class="btn col-md-12 btn-success" href="{{path("newGag")}}"><span class="glyphicon glyphicon-plus" ></span> ADD A POST</a>
        	</div>
            {% endif%}

            <div class="col-md-8 col-md-offset-2">
                {% for gag in gags %}
                <br/>
                <!-- Gag display -->
                <div class="col-md-12 text-center bg-white primaryColor" style="border:2px solid #eee;margin-top:10px; padding:0px;">
                    <header class="col-md-12 text-center no-margin-and-padding">
                        <h2 class="h2">{{gag.title|upper}}</h2>
                    </header>
                    <a href="{{path("gagDetail",{ 'id': gag.id })}}">
                        <img src="{{ asset('uploads/gags/' ~ gag.filename) }}" alt="Gag" class= "bg-white"style="max-width:750px;"/>
                    </a>
                    <br/>
                <!-- Gag informations display-->
                    <footer class="col-md-12 text-left" style="margin:0px; padding:0px; background-color:white; color:#404347;"  >

                            <span class="col-md-4 text-center" style="height:44px;line-height:44px" >Posté le {{gag.lastModified|date('d/m/y')}} par {{gag.user.username}}
                            </span>
                            <span class="col-md-4 text-center" style="height:44px;line-height:44px">
                                <a href="{{path("gagDetail",{ 'id': gag.id })}}">Voir les commentaires</a>
                            </span>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class="col-md-4 text-right">
                                0
                                <a>
                                    
                                    <span class="btn btn-danger glyphicon glyphicon-minus" style="margin:5px;"></span>
                                </a>
                                

                                10
                                <a >
                                    <span class="btn btn-success glyphicon glyphicon-plus" style="margin:5px;"></span>
                                    
                                </a>
                                
                            </span>
                            {% endif %}

                    </footer>
                </div>
                <br/>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
